@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1A1C1F;
  --secondary: #2c2f33;
  --thirdly: #00000080;
  --foreground: #DDDDDD;
  --theme: #ff47ff;
  --chakra-colors-bg: #1A1C1F;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.main {
  display: flex;
  height: 100vh;
  width: 120rem !important;
}

.sidebar {
  width: 300px;
  background-color: var(--background);
  color: #f1f1f1;
  padding: 1rem;
}

.content {
  background-color: var(--background);
  flex: 1;
  padding: 1rem;
}

.error {
  color: red
}

.markdown {
  padding: 1rem;
}

.md-custom-link {
  color: var(--theme);
}

.md-heading-1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.md-heading-2 {
  font-weight: 600;
  font-size: 1.3rem;
  padding-top: 1rem;
}

.md-heading-3 {
  font-weight: 600;
  font-size: 1.2rem;
}

.md-list {
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}

.color-theme {
  color: var(--theme);
}

.page-main {
  max-width: 61.5vw;
  width: 61.5vw;
}